<h1>Edit Post id: <%= @disaster.id %></h1>

<%= form_for @disaster, url: disaster_path(@disaster), method: :patch do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :categories %>
  <%= f.file_field :image %>
  <%= f.collection_select :type_id, Type.order(:category),:id,:category, include_blank: true %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back', disasters_path %>
