<h1>Disaster Information</h1>
  <% @disasters.each do |disaster| %>
    <ul>
      <li><%=disaster.user.email%></li>
      <li><%=disaster.title%></li>
      <li><%=disaster.content%></li>
      <li><%=disaster.address%></li>
      <li><%= link_to 'Edit', edit_disaster_path(disaster) %></li>
      <li><%= link_to "Show", disaster_path(disaster) %></li>
      <%= link_to :comments, disaster_comments_path(disaster) %>
      <%= form_for disaster, url: disaster_path(disaster), method: :delete do |f| %>
        <%= f.submit 'delete' %>
      <% end %>
    </ul>
  <% end %>

<%if current_user%>
  <%= link_to 'Create', new_disaster_path %>
  <h3><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></h3>
<% else %>
  <h3><%= link_to 'Sign in', new_user_session_path %></h3>
<% end %>