<h1><%= t('disaster_list') %></h1>

<table class="table text-center">
  <thead class="thead-dark">
  <tr>
    <th scope="col"><%= User.human_attribute_name(:email) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:title) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:content) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:address) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:category) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:short_url) %></th>
    <th scope="col"><%= Disaster.human_attribute_name(:image) %></th>
    <th scope="col"><%= t('common.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @disasters.each do |disaster| %>
  <tr>
    <td><%=disaster.user.email%></td>
    <td><%=disaster.title%></td>
    <td><%=disaster.content%></td>
    <td><%=disaster.address%></td>
    <td><%=disaster.type&.category%></td>
    <td><%= link_to "#{@domain}/#{disaster.short_url}", "#{@domain}/#{disaster.short_url}", target: :_self %></td>
    <td><%= image_tag "#{@domain}/#{disaster.image.url}" if disaster.image? %></td>
    <td>
      <%= link_to 'Edit', edit_disaster_path(disaster) %>
      <%= link_to "Show", disaster_path(disaster) %>
      <%= link_to :Comments, disaster_comments_path(disaster) %>
      <%= form_for disaster, url: disaster_path(disaster), method: :delete do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


<%if current_user%>
  <%= link_to 'Create', new_disaster_path %>
  <h3><%= link_to "LOGOUT", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></h3>
<% else %>
  <h3><%= link_to 'Sign in', new_user_session_path %></h3>
<% end %>

